body {
    background-color: black;
    color: #ffd700;
}

.ueberschrift {
    color: #ff8010;
}

div {
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: white;
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: white;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: white;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: white;

}
