<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href='.\static\main.css'>
</head>
<body>
<div class="ueberschrift">
    <h1>Boule Petanque</h1>
</div>
</br>
<div>
<button class = "button" type="button">Teamnamen eingeben</button>
</div>
<div>
<button class = "button" type="button">Teilnehmer abfragen</button>
</div>
<div>
    <button class = "button" type="button">Turnierdatenbank abfragen</button>
</div>
<div>
<button class = "button" type="button">Spielplan erstellen</button>
    </div>
<div>    
<button class = "button" type="button">Ergebnisse abfragen</button>
</div>    

</body>
</html>