<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href='.\static\main.css'>
</head>
<body>
<div class="ueberschrift">
    <h1>Boule Petanque</h1>
</div>
</br>
<div>
<h2>Teamnamen eingeben</h2>
</div>
<div>
<h2>Teilnehmer abfragen</h2>
</div>
<div>
    <h2>Turniedatenbank abfragen</h2>
</div>
<div>
<h2>Spielplan erstellen</h2>
    </div>
<div>    
<h2>Ergebnisse eintragen</h2>
</div>    

</body>
</html>